
.logo{
    width: 10%;
    height: auto;
}

h1{
    color: #fe654f !important; 
    font-weight: bold; 
    font-family: "Space Mono"; 
    text-align: center;
}

h4{
    color: #387780 !important;
    font-weight: bold; 
    font-family: "Space Mono"; 
}

h5{
    color: #fe654f !important;
    font-weight: bold;
    font-family: "Space Mono"; 
}

li{
    color: #387780 !important;
    font-weight: bold;
    font-family: "Space Mono"; 
}

p{
    color: #387780 !important; 
    font-weight: bold; 
    font-family: "Space Mono"; 
}

.container-fluid{
    display: flex;
    justify-content: center;
}

.lead{
    text-align: center;
}

.info {
    margin: 20px;
}

.h4-info {
    margin: 20px;
}

.image-container {
    text-align: center;
}